/* TVtremor-web CSS
Autor/Author: TVtremor
Godina/Year: 2019.
*/

/* General/Općenito */
*{text-decoration:none;margin:0;padding:0;border:0;font-family: 'Roboto', helvetica, arial, sans-serif;text-decoration:none;}
body{width:100%;height:100%;background: rgb(240,240,240);}
.pojedinosti{color:rgb(0,0,0);}
.pojedinosti_ne{color:rgb(127,127,127);}
header{margin-bottom:2em;}
/* Images/Slike */
.hoverable-logo{width:auto;height:32px;filter:grayscale(100%);}
.hoverable-logo:not(.first-hlogo){padding-left:1.5em;}
.img-thumbnail{border:0px;background-color:rgb(233,236,239);min-width:96px;min-height:96px;}
.station-logo{height:32px;width:auto;}
.station-logo-description{font-size:10pt;width:96px;}
.hoverable-logo:hover{filter:grayscale(0%);}
.extendable-pic{width:240px;height:auto;cursor:pointer;}
/* Bootstrap elements/elementi */
.navbar-menu-item{display:inline-block;font-style:normal;margin-left:8px;}
.description-text{text-align:center}
.thumbnail{min-height:32px;min-width:96px;vertical-align:top;display:inline-block;}
.row{min-height:32px;min-width:32px;}
/* Menu items/Stavke izbornika */
.dropdown-menu > .active > a{background-color:#B22222;}
.dropdown-menu > .active > a:hover{background-color:#8B0000;}
.dropdown-menu > .active > a:focus{background-color:#720000;}
.dropdown-menu > li > a:focus{background-color:#720000;}
/* Links/Linkovi */
a:hover,a:focus,a:visited{text-decoration:none;}
.footer-icons > a > i{color:rgb(208,209,210);}
.footer-icons > a > i:hover {color:rgb(178,179,180);}
a{color:#DC143C;}
a:hover{color:#8B0000;}
a:focus{color:#8B0000;}
/* Jumbotron section/sekcija */
.thumbnail-description{max-width:192px; text-align:left; font-size:10pt;}
.tv-channel-jumbotron{background: linear-gradient(135deg, rgba(116,35,178,1.0) 0%,rgba(100,146,186,1.0) 100%);}
.home-jumbotron{background: linear-gradient(135deg,rgba(217,221,126,1.0) 0%,rgba(35,205,252,1.0) 100%);}
.about-jumbotron{background: linear-gradient(135deg,rgba(193,38,38,1.0) 0%,rgba(80,164,229,1.0) 100%);}
.category-jumbotron-cro{background: linear-gradient(135deg, rgba(255,255,255,1.0) 0%,rgba(255,45,45,1.0) 100%);}
.category-jumbotron-bih{background: linear-gradient(135deg,rgba(0,35,149,1.0) 0%,rgba(254,203,0,1.0) 100%);}
.category-jumbotron-other{background: linear-gradient(135deg, rgba(81,205,255,1.0) 0%,rgba(255,137,139,1.0) 100%);}
.foot-jumbotron{background-color:rgb(88,89,90);font-size:12pt;}
.foot-jumbotron > h4{color:rgb(248,249,250);}
.foot-jumbotron > h4 > a > i {color:rgb(208,209,210);}
.foot-jumbotron > h4 > a > i:hover {color:rgb(178,179,180);}
.jumbotron:not(.content-jumbotron){text-align:center;}
/* Other/Ostalo */
.footer-icons{padding-left:10px;}
.navbar-brand{font-weight:bold;}
.row{margin-left:10px;margin-right:10px;}
/* Modal windows/Modalni prozori */
.help-wrapper, .image-viewer{position:fixed;display:none;width:100%;height:100%;background-color:rgba(0,0,0,0.9);top:0;left:0;right:0;bottom:0;z-index:15;overflow:auto;}
.alert-info{position:absolute;top:25%;left:12.5%;width:75%;height:auto;border-radius:0px;}
.site-wrap{width:100%;z-index:10;background:inherit;}
.help-btn-close, .image-btn-close{position:absolute;right:0.5em;top:0.5em;}
.help-title{font-size:20pt;}
.alert{background-color:rgba(29,41,81,1.0);border-color:rgb(15,82,186);}
.help-item, .help-title{color:rgb(216,216,216);}
.help-item{font-size:11pt;}
.image-frame{max-height:100%;max-width:100%;position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;border: 1px solid #d8d8d8;}

/* Media */
@media only screen and (max-width:480px){.hoverable-logo{margin-top:1.5em;}}